*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    background: #333333;
    overflow: hidden;
}
li{
    float: left;
}
li.login, li.logout{
    float: right;
    margin-right: 30px;
}
ul.adminMenu, ul.userMenu, ul.loginMenu{
    float: none;
}
li a{
    display: inline-block;
    color: white;
    padding: 16px 14px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-family: Arial sans-serif;
}
li a:hover {
    background-color: red;
}
.issue-content, .project-content, .status-content, .resolution-content, .priority-content,
.type-content, .logout-content, .user-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
}
.issue-content a, .project-content a, .status-content a, .resolution-content a, .priority-content a, .type-content a,
.user-content a, .logout-content a, .user-content a{
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
    text-align: left;
}
.issue-content a:hover, .project-content a:hover, .status-content a:hover, .resolution-content a:hover, .priority-content a:hover,
.type-content a:hover, .logout-content a:hover, .user-content a:hover{
    background: #f1f1f1;
}
.issue:hover .issue-content, .project:hover .project-content, .status:hover .status-content, .resolution:hover .resolution-content,
.priority:hover .priority-content, .type:hover .type-content, .user:hover .user-content, .logout:hover .logout-content{
    display: block;
}